<div class="bookmark-background-img"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 500, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>
<div class="d-flex justify-content-end">
  <%= link_to "+ movie", new_list_bookmark_path(@list), class: "btn btn-primary"%>
</div>

<div class="grid">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <%= link_to "x", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete" %>
      <%= image_tag bookmark.movie.poster_url, class: "movie-poster"%>
      <div class="card-text">
        <h2> <%= bookmark.movie.title%></h2>
        <p><%=bookmark.comment.truncate(170)%></p>
      </div>
    </div>
  <% end %>
</div>
